<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Как добраться к офису?</title>
    <link rel="stylesheet" type="text/css" href="../styles/contacts.css">
</head>
<body>
<header>
    <div class="top">
        <h1 class="top-name" ><span>Я</span>ндекс.<span>Я</span>сли</h1>
    </div>
</header>
<h1 class="for_content">Как пройти в офис</h1>
<div class="content">
    <ul>
        <h1><img src="../images/contacts/1.jpg" alt="">Внешний вид здания</h1>
        <h1><img src="../images/contacts/2.jpg" alt="">Вам нужен подъезд, который справа если смотреть на фасад,</br>
        тот что ближе к улице Толстого</h1>
        <h1><img src="../images/contacts/3.jpg" alt="">Поднимаетесь по лестнице и сразу за дверью будет охранник. </br>
            Охраннику говорите, что вы на курс по фронтэнду для начинающих, и из какого вы ВУЗа. </br>
            Если не попросит имя-фамилию - не говорите. </br>
            Если попросит - говорите. Лучше иметь с собой паспорт, хотя скорее всего он не пригодится.</br>
            Но возьмите обязательно</h1>
        <h1><img src="../images/contacts/4.jpg" alt="">Рядом буду я, за турникетом, пропущу вас </br>
            через него, когда охранник пропустит</h1>
        <h1><img src="../images/contacts/5.jpg" alt="">Идете мимо меня к лифту</h1>
        <h1><img src="../images/contacts/6.jpg" alt="">Жмете 4й этаж</h1>
        <h1><img src="../images/contacts/7.jpg" alt="">И приезжаете на него в предбанничек. </br>
            Дверь вам откроют, самим проломиться </br>
            не надо - ждите пока не впустят</h1>
        <h1><img src="../images/contacts/8.jpg" alt="">Дальше вам прямо по коридору в комнату с </br>
            надписью "Кино". Но вам покажут.</h1>
    </ul>
</div>
<footer>
<div class= "end">
  <a href="https://t.me/joinchat/EbxKz1lhPXnL7ftCA8SWnA"><img class="pict" src = "H:\yandex.yasli\assets\images\telegram.jpg"></a>
  <h4>г.Симферополь 2019 </h4>
  <h3>Разработали:Кручинина Ева и Анастасия Сизоненко </h3>
</div>
</footer>

</body>
</html>
