<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Хакатоны</title>
    <link rel="stylesheet" type="text/css" href="../styles/html_js.css">
</head>
<body>
<header>
  <div class="top">
          <h1 class="top-name" ><span>Я</span>ндекс.<span>Я</span>сли</h1>
  </div>
</header>
<div class="content">
    <ul>
        <h2>Хакатон №1</h2>
        <li>Дата: 25.05</li>
    </ul>
    <ul>
        <h2>Хакатон №2</h2>
        <li>Дата: 01.06</li>
    </ul>
    <ul>
        <h2>Хакатон №3 + финальное демо</h2>
        <li>Дата: 08.06</li>
    </ul>
</div>

<footer>

</footer>
</body>
</html>
