<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Основы HTML/JS</title>
    <link rel="stylesheet" type="text/css" href="../styles/html_js.css">
</head>
<body>
<header>
    <div class="top">
            <h1 class="top-name" ><span>Я</span>ндекс.<span>Я</span>сли</h1>
    </div>
</header>
<div class="content">
    <ul>
        <h1>Введение в CSS</h1>
        <h2>Дата 05.03 </br>
            Примерные тезисы</h2>
        <li>отрисовка блоков по умолчанию, </br> блочные/inline-block/инлайновые блоки</li>
        <li>селекторы</li>
        <li>каскадирование, приоритетность стилей, </br> веса селекторов</li>
        <li>величины и единицы измерения</li>
        <li>оформление текста</li>
        <li>блочная модель, display, width, height и </br> компания</li>
    </ul>
    <ul>
        <h1>CSS, часть 2</h1>
        <h2>Дата 07.03 </br>
            Примерные тезисы</h2>
        <li>позиционирование</li>
        <li>флоаты</li>
        <li>флексы</li>
        <li>типовые задачи - центрирование, </br> верстка колонок, карточек, пунктов меню</li>
        <li>псевдоклассы</li>
        <li>псевдоэлементы</li>
        <li>семантическая разметка</li>
    </ul>
    <ul>
        <h1>Вёрстка</h1>
        <h2>Дата 13.03 </br>
        Практическая лекция</h2>
    </ul>
    <ul>
        <h1>Введение в JS</h1>
        <h2>Дата 14.03 </br>
        Примерные тезисы</h2>
        <li>(возможно) разбор ДЗ по верстке</li>
        <li>для чего? отличия разработки - реакция</br> на
            события vs непрерывного выполнения</li>
        <li>доставка в браузер - тег script</li>
        <li>основы синтаксиса - обработка кода </br> построчно интерпретатором, точки с запятой</li>
        <li>типы данных: примитивные, массив, </br>объект, оператор typeof</li>
        <li>простые операторы: математика,</br> склейка строк, булевские</li>
        <li>переменные</li>
        <li>alert/confirm/prompt/console.log</li>
    </ul>
    <ul>
        <h1>Базовые конструкции языка</h1>
        <h2>Дата 19.03</br>
        Примерные тезисы</h2>
        <li>условные операторы if/switch/тернарник</li>
        <li>циклы for/while/do..while</li>
        <li>бесконечный цикл</li>
        <li>break/continue</li>
        <li>функции, аргументы, аргументы по умолчанию</li>
        <li>основы замыканий</li>
    </ul>
    <ul>
        <h1>Введение в JS</h1>
        <h2>Дата 14.03 </br>
        Примерные тезисы</h2>
        <li>(возможно) разбор ДЗ по верстке</li>
        <li>для чего? отличия разработки - реакция</br> на
            события vs непрерывного выполнения</li>
        <li>доставка в браузер - тег script</li>
        <li>основы синтаксиса - обработка кода </br> построчно интерпретатором, точки с запятой</li>
        <li>типы данных: примитивные, массив, </br>объект, оператор typeof</li>
        <li>простые операторы: математика,</br> склейка строк, булевские</li>
        <li>переменные</li>
        <li>alert/confirm/prompt/console.log</li>
    </ul>
    <ul>
        <h1>Массивы</h1>
        <h2>Дата 21.03</br>
        Примерные тезисы</h2>
        <li>создание, обход элементов массива,</br> добавление/удаление элементов</li>
        <li>методы .map/.reduce/.forEach/ </br>.some/.every и так далее</li>
        <li>алгоритмы/задачки про массивы</li>
      </ul>
    <ul>
        <h1>Объекты</h1>
        <h2>Дата 26.03</br>
            Примерные тезисы</h2>
        <li>объектный литерал, поля, методы</li>
        <li>this</li>
        <li>функции-конструкторы
        <li>JSON</li>
        <li>(возможно) es6 классы</li>
        <li>объекты-обертки</li>
    </ul>
</div>
<footer>
<div class= "end">
  <a href="https://t.me/joinchat/EbxKz1lhPXnL7ftCA8SWnA"><img class="pict" src = "H:\yandex.yasli\assets\images\telegram.jpg"></a>
  <h4>г.Симферополь 2019 </h4>
  <h3>Разработали:Кручинина Ева и Анастасия Сизоненко </h3>
</div>
</footer>


</body>
</html>
