<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <title>Инструменты и библиотеки</title>
    <link rel="stylesheet" type="text/css" href="../styles/html_js.css">
</head>
<body>
<header>
  <div class="top">
          <h1 class="top-name" ><span>Я</span>ндекс.<span>Я</span>сли</h1>
  </div>
</header>
<div class="content">
    <ul>
        <h1>Git</h1>
        <h2>Дата 14.05 </br>
            Примерные тезисы</h2>
        <li>системы контроля версий - от </br>папочек с кодом к умным программам</li>
        <li>git</li>
        <li>что такое репозиторий что валяется в папочке .git</li>
        <li>git init</li>
        <li>git add ., git commit, что такое коммит</li>
        <li>что такое ветки, git branch</li>
        <li>git merge, git rebase, как гит </br> вычисляет коммиты</li>
        <li>конфликты, git status</li>
        <li>общение с удаленным репозиторием  </br>(git push/git pull/git fetch)</li>
        <li>консоль или клиенты?</li>
    </ul>
    <ul>
        <h1>Тестирование - инфра</h1>
        <h2>Дата 16.05 </br>
            Примерные тезисы</h2>
        <li>unit</li>
        <li>ручное тестирование интерфейсов, ямлы</li>
        <li>hermione</li>
        <li>стабы</li>
        <li>скриншоты</li>
    </ul>
    <ul>
        <h1>Инфраструктурные инструменты - инфра</h1>
        <h2>Дата 21.05 </br>
            Примерные тезисы</h2>
        <li>гит-хуки</li>
        <li>линтеры</li>
        <li>csscomb</li>
        <li>что-то еще</li>
    </ul>
    <ul>
        <h1>CI - инфра</h1>
        <h2>Дата 23.05 </br>
            Примерные тезисы</h2>
        <li>деплой на продакшн руками по фтп/гит </br> клон на продакшн сервере/силами роботов</li>
        <li>github хуки - узнают что пора</li>
        <li>настройка выкладки на примере travis</li>
    </ul>
    <ul>
        <h1>BEM</h1>
        <h2>Дата 28.05</h2>
    </ul>
    <ul>
        <h1>Сборка</h1>
        <h2>Дата 30.05 </br>
            Примерные тезисы</h2>
        <li>Для чего? Примеры задач, где сборка помогает</li>
        <li>Пример настройки webpack</li>
        <li>???</li>
    </ul>
</div>
<footer>
<div class= "end">
  <a href="https://t.me/joinchat/EbxKz1lhPXnL7ftCA8SWnA"><img class="pict" src = "H:\yandex.yasli\assets\images\telegram.jpg"></a>
  <h4>г.Симферополь 2019 </h4>
  <h3>Разработали:Кручинина Ева и Анастасия Сизоненко </h3>
</div>
</footer>

</body>
</html>
