<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS в браузере</title>
    <link rel="stylesheet" type="text/css" href="../styles/html_js.css">
</head>
<body>
<header>
  <div class="top">
          <h1 class="top-name" ><span>Я</span>ндекс.<span>Я</span>сли</h1>
  </div>
</header>
 <div class="content">
        <ul>
            <h1>События</h1>
            <h2>Дата 28.03 </br>
                Примерные тезисы</h2>
            <li>click, contextmenu, mouseenter/mouseleave, </br> mouseover/mouseout</li>
            <li>keypress/keyup/keydown</li>
            <li>input/submit/change</li>
            <li>load/error/DOMContentLoaded</li>
            <li>addEventListener</li>
            <li>всплытие</li>
            <li>примеры компонентов/виджетов </br> на все события</li>
        </ul>
     <ul>
         <h1>Работа с формами</h1>
         <h2>Дата 02.04 </br>
             Примерные тезисы</h2>
         <li>input text/checkbox/radio</li>
         <li>(возможно) html5 inputы</li>
         <li>select</li>
         <li>textarea</li>
         <li>валидация формы</li>
         <li>обработка формы на клиенте</li>
         <li>неэлементы форм</li>
     </ul>
     <ul>
         <h1>BOM и основы DOM</h1>
         <h2>Дата 04.04 </br>
             Примерные тезисы</h2>
         <li>location</li>
         <li>history</li>
         <li>navigator (navigator.geolocation)</li>
         <li>document.getElementById</li>
         <li>объект-узел</li>
         <li>innerHTML/innerText</li>
         <li>работа с атрибутами</li>
         <li>style</li>
     </ul>
     <ul>
         <h1>Продвинутая работа с DOM</h1>
         <h2>Дата 09.04 </br>
             Примерные тезисы</h2>
         <li>document.getElementsByClassName, HtmlCollection</li>
         <li>querySelector/querySelectorAll, NodeList</li>
         <li>document.body</li>
         <li>перемещение по DOM - children, siblings, parent</li>
         <li>getComputedStyle</li>
         <li>className/classList</li>
     </ul>
     <ul>
         <h1>Шаблонизация</h1>
         <h2>Дата 11.04 </br>
             Примерные тезисы</h2>
         <li>склейка строк + innerHTML</li>
         <li>createElement, appendChild,  insertAfter</li>
         <li>createDocumentFragment</li>
         <li>ванильное создание верстки</li>
         <li>двупроходная шаблонизация - пишем </br>несложный шаблонизатор средствами браузера</li>
     </ul>
     <ul>
         <h1>AJAX</h1>
         <h2>Дата 16.04 </br>
             Примерные тезисы</h2>
         <li>XMLHttpRequest</li>
         <li>примеры - постраничность, обновление </br> результатов матча, регистрация</li>
         <li>(возможно) WebSocket</li>
         <li>работа с API чего-нибудь</li>
     </ul>
     <ul>
         <h1>JQuery</h1>
         <h2>Дата 18.04 </br>
             Примерные тезисы</h2>
     <li>jquery</li>
     </ul>
     <ul>
         <h1>Работа со сторонними библиотеками</h1>
         <h2>Дата 23.04 </br>
             Примерные тезисы</h2>
         <li>В древние времена находили модули абы где, </br>скачивали, пытались как-то вкрутить, все грустно</li>
         <li>Теперь есть гитхаб, на котором есть все, </br>куча документации и обновлений, йохохо</li>
         <li>Как отличить классный модуль от так себе</br> модуля</li>
         <li>Как пользоваться документаций, как в общих </br>чертах заставить модуль работать</li>
         <li>Всякие классные модули по направленностям</li>
     </ul>

</div>
<footer>
<div class= "end">
  <a href="https://t.me/joinchat/EbxKz1lhPXnL7ftCA8SWnA"><img class="pict" src = "H:\yandex.yasli\assets\images\telegram.jpg"></a>
  <h4>г.Симферополь 2019 </h4>
  <h3>Разработали:Кручинина Ева и Анастасия Сизоненко </h3>
</div>
</footer>


</body>
</html>
