<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NodeJS и продвинутый JS</title>
    <link rel="stylesheet" type="text/css" href="../styles/html_js.css">
</head>
<body>
<header>
  <div class="top">
              <h1 class="top-name" ><span>Я</span>ндекс.<span>Я</span>сли</h1>
      </div>
</header>
<div class="content">
    <ul>
        <h1>Введение в node.js</h1>
        <h2>Дата 25.04 </br>
            Примерные тезисы</h2>
        <li>откуда взялся</li>
        <li>установка</li>
        <li>запуск скриптов</li>
        <li>обзорно про es6 let-const-стрелки</li>
    </ul>
    <ul>
        <h1>Асинхронный код в JS</h1>
        <h2>Дата 25.04 </br>
            Примерные тезисы</h2>
        <li>откуда берется асинхронность в однопоточном JS</li>
        <li>коллбеки</li>
        <li>промисы</li>
    </ul>
    <ul>
        <h1>NPM & Express</h1>
        <h2>Дата 02.05 </br>
            Примерные тезисы</h2>
        <li>npm модули - поиск и использование</li>
        <li>как написать и опубликовать свой модуль</li>
        <li>простое HTTP приложение</li>
        <li>миддлвары</li>
        <li>статика</li>
    </ul>
    <ul>
        <h1>Базы данных</h1>
        <h2>Дата 07.05 </br>
            Тезисы</h2>
        <li>Зачем вообще</li>
        <li>MongoDB</li>
        <li>Подключаем в приложеньку</li>
    </ul>
    <ul>
        <h1>Практика. Написание приложения</h1>
        <h2>Дата 09.05 </h2>
        <h2>Лектор вакансия</h2>
    </ul>
</div>
<footer>
<div class= "end">
  <a href="https://t.me/joinchat/EbxKz1lhPXnL7ftCA8SWnA"><img class="pict" src = "H:\yandex.yasli\assets\images\telegram.jpg"></a>
  <h4>г.Симферополь 2019 </h4>
  <h3>Разработали:Кручинина Ева и Анастасия Сизоненко </h3>
</div>
</footer>

</body>
</html>
