body{
    display: grid;
    grid-column: 1/3;

}
.header{
    color: black;
    font-family: Segoe;
    background-color: yellow;
}
span{
    color:red;
    font-family: Segoe;
font-size: 50px;
}
.top{
		display:flex;
		flex-direction: row;
		background:#ffcc00;

	}
.navigation_menu{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;

}
.navigation_menu img{
    width: 700px;
    height: 520px;
}
.navigation_menu h1{
    display: flex;
    flex-direction: column;
    border: 4px solid red;
    background-color: #ffcc00;
    font-size: 50px;
    text-align: center;
}
.name{
    font-family: Segoe;
    font-size: 50px;
    text-align: center;
    background-color: red;
}

.content{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;

}
.content img{
    width: 300px;
    height: 200px;
    border-image: none;
}
.content h1{
    display: flex;
    flex-direction: column;
    border: 4px solid red;
    background-color: #ffcc00;
    text-align: center;
}



.end{
  height: 40px;
		display:flex;
		flex-direction: row-reverse;
		background:#ffcc00;
    justify-content:space-between;
	}


  .pict{
    width:150px;
	height: 40px;
  }
